* {
    background-color: transparent;
    text-color:       rgba(201, 209, 217, 0.55);
    font:             "JetBrainsMono Nerd Font 15";
}

window {
    background-color: rgba(13, 17, 23, 0.7);
    border:           2px solid;
    border-color:     #58a6ff;
    padding:          12px;
    width:            860px;
    location:         center;
}

mainbox {
    background-color: transparent;
    orientation:      horizontal;
    spacing:          16px;
    children:         [ listview, icon-current-entry ];
}

listview {
    background-color: transparent;
    lines:            8;
    scrollbar:        false;
    spacing:          3px;
}

icon-current-entry {
    expand:           true;
    size:             420px;
}

element {
    background-color: transparent;
    text-color:       rgba(201, 209, 217, 0.55);
    padding:          13px 20px;
    children:         [ element-text ];
}

element selected.normal {
    background-color: rgba(88, 166, 255, 0.12);
    border:           1px;
    border-color:     rgba(88, 166, 255, 0.55);
}

element-text {
    background-color: transparent;
    text-color:       inherit;
}

element-text selected.normal {
    text-color: #58a6ff;
}
